/* Main style */

.top-red-banner {
    background-color: #b30000; 
    width: 100%;
    height: 120px; }


body {
    font-family: Optima, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    color: #222;
    line-height: 1.6;}

:root {
    --primary-red: #b30000;}

h1, h3 {
    color: var(--primary-red);}

main {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 20px 0;}

/* Story row layout */
.story-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 25px;
    margin-bottom: 40px;
    align-items: start;}

.story-text p {
    margin: 0;
    font-size: 1.1rem;}
/* Image and Caption */
.story-image img {
    width: 100%;
    border: 2px solid var(--primary-red);
    border-radius: 6px;}
.story-image figcaption {
    margin-top: 8px;
    font-size: 0.9rem;
    color: #555;}


/* Footer */

footer {
    background-color: #b30000; 
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1.1rem;
    margin-top: 40px;}
footer a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;}
footer a:hover {
   opacity: 0.8;}

